
<div class="book">
  <h2>{{bookItem.title | titlecase }}</h2>
  <small *ngIf="bookItem.alias">{{bookItem.alias}}</small>
  <p class="author">{{bookItem.author}}</p>
  <button (click)="onToggleDetails()">Show Details</button>
  <div class="details" *ngIf="showDetails">
    <p class="description">{{bookItem.description}}</p>
    <p class="pages">{{bookItem.pages}}</p>
    <ul>
      <li *ngFor='let genre of bookItem.genres'>
        {{genre}}
      </li>
    </ul>
    <!-- <button (click)="bookItem.onBookDelete()">Delete Book</button> -->
  </div>
</div>
